body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#live-location-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#live-location-button:hover {
    background-color: #45a049;
}

#search-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
#search-input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-button {
    padding: 8px 12px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #007B9A;
}

.pin-cursor {
    cursor: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="red" d="M12 2l2.5 5.09L20 9.27l-4 3.87L17.18 22 12 18.77 6.82 22 8 13.14l-4-3.87 5.5-.18z"/%3E%3C/svg%3E'), auto;
}